<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Library<%= locals.title ? ` | ${locals.title}` : '' %></title>
  </head>
  <body>
    <h1><%= locals.title || 'Library Inventory' %></h1>

    <form action="/createBook" method="post">
      <label for="title">Title: </label>
      <input type="text" name="title" id="title" maxlength="255">

      <label for="author">Author: </label>
      <input type="text" name="author" id="author" maxlength="255" list="authors-list">
      <datalist id="authors-list">
        <% locals.authors.forEach(author => { %>
         <option value="<%= author %>"></option>
        <% }) %>
      </datalist>

      <label for="pages">Number of pages: </label>
      <input type="number" name="pages" id="pages">

      <label for="genre">Genre: </label>
      <input type="text" name="genre" id="genre" maxlength="255" list="genres-list">
      <datalist id="genres-list">
        <% locals.genres.forEach(genre => { %>
         <option value="<%= genre %>"></option>
        <% }) %>
      </datalist>

      <button type="submit">Add Book</button>
  </body>
</html>
